body{
    background-color: #FAFAFA;
}
.container{
    margin-top: 60px;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.brand-img{
    display: inline-block;
    max-width: 25px;
}
.vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#racer-image{
    max-height: 270px;
}
.panel-body>.row{
    padding: 10px 0 10px 0;
}
.racer-logo-image{
    max-height: 25px;
    margin: 0 auto;
    margin-top: -15px;
}
.hud{
    padding-bottom: 5px;
}

/*------------------- Media queries ---------------------*/

/*XS*/
@media screen and (max-width: 767px){
    #racer-image{
        margin: 0 auto;
    }
}

/*SM*/
@media screen and (min-width: 768px) and (max-width: 991px){
    #racer-image{
        margin: 0 auto;
    }
}

/*MD*/
@media screen and (min-width: 992px) and (max-width: 1199px){
}

/*LG*/
@media screen and (min-width: 1200px){
}

/*------------------- Media Queries End -----------------*/