body {
    font-family: 'Orbitron', sans-serif;
    background-color: cornflowerblue;
    background-image: url("img/background.png");
    background-repeat: repeat;
}

h1 {
    font-size: 62px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-weight: bolder;
}

#result {
    opacity: 0.6;
    background-color: white;
    width: 70%;
    height: 350px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#wrapperBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}

#someBtn {
    color: #fff;
    background-color: grey;
    border: none;
    height: 50px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 0 10px black;
    font-family: 'Righteous', cursive;
    display: block;
    margin: auto;
}

#someBtn:hover,
section.press button.hover {
    background-color: slategrey;
}

#someBtn:active,
section.press button.active {
    background-color: grey;
    box-shadow: 0 5px black;
    transform: translateY(5px);
}

#expl {
    opacity: 0.8;
    background-color: white;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}